#context-menu {
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    position: absolute;
    visibility: hidden;
}

.ul {
	list-style: none;
	margin: 0px;
	padding: .5em;
}

.li-disabled {
	color: gray;
}

.li-last {
    border-bottom: 1px solid #ececec;
    margin-right: 5px;
    padding-bottom: 2px;
}

.li:hover,
.li-last:hover {
	background-color: #ebebeb;
}